<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="styles.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div id="height">
        <header>
            <div class="row vertical-align">
                <div class="col-sm-8"><a href="home-starter-page.html"><img src="logo.PNG" class="img-rounded" alt="TGIF Logo" width="400" height="100"> </a></div>
                <div class="col-sm-4"><span class="glyphicon glyphicon-envelope righty"></span> <a href="mailto:info@tgif.net">info@tgif.net</a></div>

            </div>

        </header>
        <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="home-starter-page.html">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Congress 113 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="house-page.html">House 113</a></li>
          <li><a href="senate-page.html">Senate 113</a></li>
          
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Attendance <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="house-attendance.html">House 113</a></li>
          <li><a href="senate-attendance.html">Senate 113</a></li>
          
        </ul>
      </li>
      
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Loyalty<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="house-loyalty.html">House 113</a></li>
          <li><a href="senate-loyalty.html">Senate 113</a></li>
          
        </ul>
      </li>
     
    </ul>
  </div>
</nav>
        <div class="row">

            <div class=" col-sm-10 col-sm-offset-1">
                <div class="col-sm-8 ">

                    <h2>Senators</h2>
            <p>First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate has several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive officials, military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.</p>
                </div>
                <div class="col-sm-4">
                    <img src="house.jpg" class="img-rounded" alt="senate Image" width="200" height="200"> </div>
                <div id="vue-app">


                    <div v-if="loading">
                        <img src="worms.jpg" class="img-rounded" alt="incoming Image" width="800" height="400">
                    </div>


                    <div class="col-sm-12" id="filterstaff">
                        <div class="col-sm-6" id="party">
                            <p> Filter By Party <input type="checkbox" id="democrat" value="D" v-model="filterSelector" v-on:change="selector()">
                                <label for="democrat">Democrats</label>
                                <input type="checkbox" id="republican" value="R" v-model="filterSelector" v-on:change="selector(filterSelector,textSelected)">
                                <label for="republican">Republicans</label>
                                <input type="checkbox" id="independent" value="I" v-model="filterSelector" v-on:change="selector(filterSelector,textSelected)">
                                <label for="independent">Independents</label></p>
                        </div>

                        <div class="col-sm-6" id="state">
                            <p>Filter By States
                                <select v-model="textSelected" v-on:change="selector()">
  <option value="">Please select one</option>
  <option   v-if="states" v-for="state in states"  >{{state}}</option>
</select></p>

                        </div>
                    </div>
                    <table class="table table-bordered table-hover responsive table" id="tableId">
                        <thead id="headtable">
                            <tr class="hrow" ref="head">
                                <th v-for="(sth, index) in headers" v-on:click="sorter(index)">
                                    {{sth}}
                                </th>
                            </tr>
                            <tr class="sticky" ref="head">
                                <th v-for="(sth, index) in headers" v-on:click="sorter(index)">
                                    {{sth}}
                                </th>
                            </tr>
                        </thead>

                        <tbody v-if="loaditems" id='senateTable' ref="table">
                            <tr v-for="(members,index) in info.data.results[0].members">
                                <td v-if="members"><a v-bind:href="members.url" target="blank">{{namebuilder(members)}}</a></td>
                                <td v-if="members">{{members.party}}</td>
                                <td v-if="members">{{members.state}}</td>
                                <td v-if="members">{{members.seniority}}</td>
                                <td v-if="members">{{members.votes_with_party_pct}} %</td>

                            </tr>
                        </tbody>

                    </table>


                    <div  v-if="loaditems" id="footer" class=" text-center">&copy; 2018 TGIF | All Rights Reserved </div>
                </div>
            </div>
        </div>
    </div>

    <script src="housepage.js" S></script>

</body>

</html>
